/* Default styles for the browser */
html{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family:'Montserrat';
    /* border: solid 5px black; */
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-image: url("./../images/keith-misner-h0Vxgz5tyXA-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-width: auto;
}

header{
    width: 100%;
    height: 100px;
    border-bottom: solid 1px rgba(16, 16, 16, 0.1);
    font-family:'Montserrat';
    background-color: #101010;
    color: aliceblue;
    margin: 0 auto;
    
}


header .inner-header{
    width: 80%; 
    height: 100%;
    display: block;
    margin: 0 auto;
    /* background-color: red; */
    
}

header .inner-header img{
    width: 70px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 0;
    
}

header .name{
    display: table;
    height: 100%;
    float: left;
}

header .name div{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-weight: 1000;   

}

header .name div h1{
    border-bottom: 2px solid aliceblue;
    
}

header nav{
    float: right;
    height: 100%;
}

header nav li{
    display: table;
    height: 100%;
    float: left;
    margin-right: 30px;
    
}

header nav li:last-of-type{
    margin-right: 0;
}

header nav span {
    display: table-cell;
    vertical-align: middle;
}

header nav a{
    color: aliceblue;
}

header nav .button{
    background-color: grey; /* This HEX is the color of the button */
    color: #FFF;
    padding: 10px 20px;
    border-radius: 4px;
}

header nav .button:hover{
    filter: brightness(1.25);
    
}

  
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.p1{
    background-image: url("../images/steven-weeks-OunfEeWYGmw-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment:local;
    object-fit: contain;
    background-position: center;
    min-height: 50rem;
    min-width: 75rem;
    color:#101010;
    border:solid 5px;
    border-color:#101010;
    margin: 5rem;
    

    
   
    
    
}

.p1 h3{
    font-weight: 1000;
    font-size: 30px;
    margin-bottom: 20px;
    margin-right: 75%;
    background-color: #101010;
    color: aliceblue;
    border:solid #101010 2px;  
}

.p1 h3 a{
    color: aliceblue;
}


.p2{
    background-image: url("../images/towfiqu-barbhuiya-FnA5pAzqhMM-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment:local;
    object-fit: contain;
    background-position: center;
    min-height: 25rem;
    min-width: 40rem;
    color:#101010;
    border:solid 5px;
    border-color:#101010;
    margin: 5rem;
}    

.p2 h3{
    font-weight: 1000;
    font-size: 30px;
    margin-bottom: 20px;
    margin-right: 75%;
    background-color: #101010;
    color: aliceblue;
    border:solid #101010 2px;  
}

.p3{
    background-image: url("../images/dulcey-lima-MSoR2O91lY0-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment:local;
    object-fit: contain;
    background-position: center;
    min-height: 20rem;
    min-width: 30rem;
    color:#101010;
    border:solid 5px;
    border-color:#101010;
    margin: 5rem;
} 

.p3 h3{
    font-weight: 1000;
    font-size: 30px;
    margin-bottom: 20px;
    margin-right: 75%;
    background-color: #101010;
    color: aliceblue;
    border:solid #101010 2px;  
}

footer{
    width: 100%;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: #101010;
    margin: 0 auto;
    margin-top: auto;
}

.inner-footer{
    display: flex;
    row-gap: 10px;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    
}



footer h2 a{
    
    color: aliceblue;
    
}




/* Tablets */
@media screen and (max-width: 992px) {
    header{
        height: fit-content;
    }

    header .inner-header{
         
        height: fit-content;
        
    }

    header nav .button{
        background-color:unset;
      
    }

    .p1{
        min-width: 35rem;
        min-height: 35rem;

    }   
    
    .p2{
        min-width: 35rem;
        min-height: 25rem;

    } 
    
 
}
   

/* Large smartphones*/
@media screen and (max-width: 768px) {
    .p1{
        min-width: 25rem;
        min-height: 25rem;
    }

    .p2{
        min-width: 25rem;
        min-height: 25rem;

    }
    
    .p3{
        min-width: 25rem;
        min-height: 25rem;

    }   

}
    
      
 
/* Small smartphones  */
 @media screen and (max-width: 576px) {
    .p1{
        min-width: 15rem;
        min-height: 15rem;
    }

    .p2{
        min-width: 15rem;
        min-height: 15rem;

    }   

    .p3{
        min-width: 15rem;
        min-height: 15rem;

    }   
 
 }
    
    
  
  
  
      
    

    
