/* Default styles for the browser */
html{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family:'Montserrat';
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header{
    width: 100vw;
    height: 100px;
    border-bottom: solid 1px rgba(16, 16, 16, 0.1);
    font-family:'Montserrat';
    background-color: #101010;
    color: aliceblue;
}

header .inner-header{
    width: 90%; 
    height: 100%;
    display: block;
    margin: 0 auto;
}

header .name{
    display: table;
    height: 100%;
    float: left;
}

header .name div{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-weight: 1000;

}

header nav{
    float: right;
    height: 100%;
}

header nav li{
    display: table;
    height: 100%;
    float: left;
    margin-right: 30px;
    
}

header nav li:last-of-type{
    margin-right: 0;
}

header nav span {
    display: table-cell;
    vertical-align: middle;
}

header nav a{
    color: aliceblue;
}

header nav .button{
    background-color: #397fcf; /* This HEX is the color of the button */
    color: #FFF;
    padding: 10px 20px;
    border-radius: 4px;
}

header nav .button:hover{
    filter: brightness(1.05);
    
}

.img-road{
    width: 100%;
    height: 90vh;
    background-image: url("./../images/karsten-wurth-rafblRbne3o-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.main{
    color: aliceblue;
    background-color: #101010;
    padding: 15%;
    margin: 5%;
    text-align:left;
}

footer{
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: #101010;
    margin-top: auto;
}

.inner-footer{
    display: block;
    margin: 0 auto;
    width: 110px;
    height: 100%;
}


    
